# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/
*.whl

# Virtual environments
venv/
env/
.venv/
ENV/
env.bak/
venv.bak/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# VS Code settings
.vscode/

# Test coverage reports
htmlcov/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover

# PyInstaller
*.manifest
*.spec

# Logs
*.log

# Mac OS
.DS_Store

# Linux
*.swp

# Misc
*.bak
*.tmp